@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.sectionHomeContainer {
    background-color: white;
    background-size: cover;
    height: 100vh;
}

.img-container {
    width: 50vh;
    padding: 5px;
}

.head-p {
    text-align: center;
    color: #183b56;
    font-family: "Bree Serif";
    font-size: 25px;
}

.para-p {
    text-align: center;
    color: #616e7c;
    font-family: "Bree Serif";
    font-size: 12px;
}

.more-projects {
    background-color: white;
    background-size: cover;
}

.img1 {
    width: 160px;
    padding: 5px;
}

.advc-cover {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png');
    height: 100vh;
    background-size: cover;
}

.advc-card {
    background-color: #ffffff;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.adcv-card-heading {
    font-family: "Bree Serif";
    color: #5752ab;
    font-size: 23px;
}

.advc-card-para {
    font-family: "Roboto";
    color: #323f4b;
    font-size: 13px;
    font-weight: normal;
}

.but {
    font-family: "Roboto";
    font-size: 10px;
    width: 100px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.but-white {
    color: #171f46;
    background-color: #ffffff;
    border-width: 1px;
}

.but-blue {
    color: #ffffff;
    background-color: #171f46;
}

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}

.back {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png');
    background-size: cover;
    height: 100vh;
}

.card {
    color: #323f4b;
    font-weight: bold;
    background-color: #f6c56e;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 15px;
}

.head {
    font-family: "Bree Serif";
    font-size: 33px;
}

.para {
    font-family: "Roboto";
    font-size: 20px;
}

.button {
    font-family: "Robotto";
    font-size: 12px;
    background-color: #ffffff;
    height: 30px;
    width: 100px;
    border-radius: 7px;
    border-width: 0px;
}

.news-back {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png');
    height: 100vh;
    background-size: cover;
}

.news-card {
    background-color: #ffffff;
    font-family: "Roboto";
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.news-head {
    font-size: 17px;
    color: #323f4b;
}

.news-para {
    font-size: 10px;
    color: #7b8794;
}

.news-but {
    background-color: #323f4b;
    height: 30px;
    width: 90px;
    font-size: 10px;
    color: #ffffff;
    border-width: 0px;
    border-radius: 7px;
}